@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Poppins', sans-serif;
  }

  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }

  p {
    font-weight: 500;
  }
}

html {
  scroll-behavior: smooth;
}
